$main-color: #46efa0;
$main-color-hover: #2db575;

$background-color: #1a1a1a;

$text-color: #ffffff;
$text-color2: #1a1a1a;
$subtext-color: #acacac;

$card-color: #232323;
$card-color2: #2d2d2d;
$card-color3: rgba(70, 239, 160, 0.2);

$card-padding: 2rem;

$shadow-box: 0 2rem 3rem rgba(56, 56, 56, 0.18);


$border-radius1: 0.8rem;
$border-radius2: 1rem;
$border-radius3: 1.3rem;
